.checkbox {
	position: absolute;
	top: 5%;
	right: 8%;
	z-index: 100;
	font-size: 42px;
	color: var(--primary2-color);
	border-radius: 7px;
	border: 3px solid transparent;

	&.checked {
		color: var(--primary-color);
		border-color: var(--background-color);
	}

	svg {
		cursor: pointer;
		display: block;
	}

	@media screen and (max-width: 912px) {
		font-size: 30px;
	}
}
