.forge {
    height: 100%;
    flex-direction: row !important;
    padding-top: var(--navbar-height);
    background: url('../../assets/page-images/forge.jpg');
    background-size: cover;
    background-position: top;

    .card-select {
        position: relative;
        height: calc(45vh);
        width: calc(45vh);
        margin-top: 12px;

        .unselect-card {
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: var(--primary-color);
            border-radius: 50%;
            color: var(--background2-color);
            font-size: 36px;
            z-index: 100;
            cursor: pointer;

            @media screen and (max-width: 600px) {
                font-size: 32px;
            }
        }

        .select-card {
            cursor: pointer;

            h1 {
                font-size: 96px;
                color: var(--primary-color);
            }
        }

        .selected-card {
            .card__values {
                visibility: hidden;
            }
        }

        .value,
        .value-0,
        .value-1,
        .value-2,
        .value-3 {
            height: 64px;
            width: 64px;
            font-size: 36px;

            &.box {
                cursor: pointer;
            }

            &.disabled {
                pointer-events: none;
                filter: grayscale(0.9);
            }
        }

        .value-0,
        .value-1,
        .value-2,
        .value-3 {
            position: absolute;
        }

        .value-0 {
            top: 8px;
        }

        .value-1 {
            right: 24px;
        }

        .value-2 {
            bottom: 8px;
        }

        .value-3 {
            left: 24px;
        }
    }

    .collection-display {
        height: 720px;
        width: 900px;
        overflow-y: auto;

        .card {
            cursor: pointer;
        }
    }

    .modifiers,
    .flux {
        height: 75vh;
        width: 300px;
        padding: 24px;
        gap: 12px;

        img {
            width: 7vh;
        }

        .forge-item {
            height: 10vh;
            align-items: flex-end;
            gap: 12px;

            .count {
                gap: 4px;
            }
        }
    }

    .box {
        margin: 12px 0;
        padding: 12px;
        text-align: center;

        .filter {
            margin-bottom: 8px;
        }
    }

    .mod-cost {
        width: 100%;
        margin-top: 12px;
        padding: 12px;
        img {
            width: 7vh;
        }
    }

    .button {
        margin-top: 12px;
    }
}
