.controls{
    align-items: center;
    display: flex;
    width: 80%;
    justify-content:space-between;
    padding:20px;

    .filter-controls{
        label {
            margin-right: 10px;
        }
    .filter {
        display: block;
       
    }
}

}