.select-card {
    cursor: pointer;

    h1 {
        font-size: 96px;
        color: var(--primary-color);
    }
}

.selected-card {
    .card__values {
        visibility: hidden;
    }

    .unselect-card {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: var(--primary-color);
        border-radius: 50%;
        color: var(--background2-color);
        font-size: 36px;
        z-index: 100;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            font-size: 32px;
        }
    }
}
