.fusion-panel {
    height: 600px;
    width: 800px;
    margin-top: 12px;
    padding: 12px;
    background: rgb(255, 137, 2);
    background: radial-gradient(
        circle,
        rgba(255, 137, 2, 1) 0%,
        rgba(255, 230, 2, 0.8) 100%
    );
    border: 4px solid var(--background2-color);
    border-radius: 4px;
    box-shadow: 2px 2px 5px #ff8902cc, 2px -2px 5px rgba(255, 74, 2, 0.8),
        -2px 2px 5px rgba(255, 137, 2, 0.8), -2px -2px 5px rgba(255, 74, 2, 0.8);

    .flux-row {
        width: 100%;

        .flux {
            gap: 12px;

            .count {
                gap: 4px;
                font-size: 24px;

                &.insufficient {
                    color: var(--error-color);
                }
            }
        }

        .flux-arrow {
            color: var(--background-color);
            font-size: 72px;
            cursor: pointer;

            &.disabled {
                color: var(--gray-color);
                pointer-events: none;
            }
        }
    }
    img {
        height: 10vh;
    }
}
