.reset-password {
	padding: 128px 0 64px 0;
	background-image: url('../assets//page-images/library.jpg');
	background-position: center;
	background-size: cover;

	.reset-container {
		position: relative;
		height: 100%;
		width: 40vw;
		padding-bottom: 1rem;

		@media screen and (max-width: 768px) {
			width: 100vw;
		}

		.logo {
			margin: -64px 0 16px;
			width: 400px;

			@media screen and (max-width: 400px) {
				width: 300px;
			}
		}

		.button {
			position: absolute;
			bottom: -2.5%;
			width: 250px;
		}
	}
}
