.collection.header {
	width: 100%;
	padding-top: 48px;
	background-color: var(--background3-color);
	text-align: center;
}

.card-collection {
	min-height: 100vh;
	width: 100vw;
	background: var(--background3-color);
	text-align: center;
	overflow-y: hidden;
}
